body {/*Provat flera olika och denna var den jag hitta som va mest lik*/
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    background-color: #3DE07E;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}

header > img {
    justify-self: center;
}

header aside {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 2rem;
}

header aside img {
    width: 30px;
}

header h1 {
    display: flex;
    font-size: 5rem;
    justify-content: center;
    text-align: center;
}

main {
    background-color: rgb(8, 8, 8);
    padding: 3rem;
}

/*
Fick inget att fungera som jag ville med wrapper 
så gjorde om till varsina section class
*/
.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1rem;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
    place-items: center;
}

.big-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2rem;
    place-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
    color: white;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card h2 {
    font-size: 2rem;
    justify-content: left;
    text-align: left;
    padding-top: 0.6rem;
    margin: 0;
}

.card p {
    font-size: 1rem;
    justify-content: left;
    text-align: left;
    padding-top: 1rem;
    line-height: 1.2rem;
    margin: 0;
}

.button {
    background-color: #E83F57;
    color: white;
    padding: 0.5rem;
    width: 140px;
    border-radius: 3px;
    border: 0.5px;
}

.card button {
    margin-top: auto;
    margin-bottom: 4rem;
}

.big-card {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    background-color: white;
    color: black;
    height: 100%;
}

.big-card p {
    font-size: 1rem;
    justify-content: left;
    text-align: left;
    margin: 1rem;
}

.big-card h2 {
    font-size: 2rem;
    justify-content: left;
    text-align: left;
    margin-left: 1rem;
}

.big-card button {
    margin: 1rem;
}

.big-card figure {
    margin: 0;
} 

.big-card img {
    width: 100%;
    height: auto;
    display: block;
}

footer {
    background-color: rgb(54, 52, 52);
    color: white;
    padding: 2rem;
}

.footer-links {
    display: grid;
    grid-template-columns: auto auto auto; /*Måste ha så annars blir det fel på mobil*/
    /* grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); */
    max-width: 1000px;
    width: 100%;
    height: 200px;
    gap: 3rem;
    margin: 0 auto;
    justify-items: start;
    padding-bottom: 2rem;
    align-items: start;
}

footer h2, 
.footer-links article h2, 
.social-media h2 {
    font-size: 2rem;
    margin-left: 0;
    margin-bottom: 1rem;
    
}

.footer-links article p {
    font-size: 1rem;
    margin: 0;
}

.footer-links article, .footer-links nav {
    display: flex;
    flex-direction: column;
}

.footer-links nav a {
    display: block;
    text-decoration: none;
    color: white;
}

.icons {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.title {
    max-width: 1000px;
    margin: 0 auto 2rem auto; /*Big cards har 0 auto */
    padding-top: 3rem;
}

.title h2 {
    color: white;
    font-size: 3rem;
    margin: 0;
}

.summary {
    max-width: 1000px;
    color: white;
    margin: 0 auto;
    padding-bottom: 6rem;
}

.summary p {
    margin: 0;
}

.row-header {
    background-color: #ED363633;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    padding: 0.4rem 0;
    margin: 0;
}

.row-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.row-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.row-header p,
.row-one p,
.row-two p,
.row-total p {
    width: 33%;
    white-space: nowrap;
}

.row-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 3rem;
    border-top: 1px solid white;
}

.button-checkout {
    background-color: #E83F57;
    color: white;
    font-size: 1.3rem;
    padding: 0.5rem;
    width: 250px;
    border-radius: 3px;
    border: 0;
    float: right; /*Gick inte att lösa på annat sätt*/
}

.row-header p:first-child,
.row-one p:first-child,
.row-two p:first-child,
.row-total p:first-child {
    text-align: left;
}

.row-header p:nth-child(2) {
    text-align: center;
    padding-left: 4rem;
}
.row-one p:nth-child(2),
.row-two p:nth-child(2) {
    text-align: center;
}

.row-header p:last-child {
    text-align: right;
    padding-right: 3.6rem;
}
.row-one p:last-child,
.row-two p:last-child,
.row-total p:last-child {
    text-align: right;
    padding-right: 1rem;
}